<?xml version='1.0' encoding='utf-8'?>
<widget id="fabricandomarcas.com.vader" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>vader</name>
    <description>
        Vader demo
    </description>
    <author email="lafabrica@fabricandomarcas.com" href="http://fabricandomarcas.com">
        Fabricando Marcas
    </author>
    <content src="index.html" />	
    <access origin="*"/>
</widget>
